* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: column;
}

div {
    width: auto;
    height: auto;
    text-align: center;
}

img {
    cursor: pointer;
}

#on {
    display: none;
}

@media (max-width: 550px) {
    img {
        width: 100%;
    }
}